//Colors
$black: #202020;
$white: #fff;
$beige: #e8e0e0;
$electricblue : #2401FE;

//Breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

//Mixins
// Small devices
@mixin sm {
   @media (max-width: #{$screen-sm-min}) {
       @content;
   }
}
// Medium devices
@mixin md {
   @media (max-width: #{$screen-md-min}) {
       @content;
   }
}
// Large devices
@mixin lg {
   @media (max-width: #{$screen-lg-min}) {
       @content;
   }
}
// Extra large devices
@mixin xl {
   @media (max-width: #{$screen-xl-min}) {
       @content;
   }
}

body {
  margin: 0;
}
.main {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(150px, auto);
  @include md {
      display: block;
  }
  .left {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }
  .right {
    grid-column: 2 / 2;
    grid-row: 1 / -1;
    height: 100%;
    width: 50vw;
    background: $beige;
    overflow: scroll;
    @include md {
      width: 100%
    }
    .header {
      text-transform: uppercase;
      font-size: 1.4rem;
      text-align: left;
      font-family: "Open Sans";
    }
    .text-section {
    padding: 1rem 4rem;
    text-align: left;
    margin: 0 auto;
    min-height: 100vh;
    &.white_bg {
      background-color: $white;
      strong {
        color: $electricblue;
      }
    }
    &.blue_bg {
      background-color: $electricblue;
      color: $white;
    }
    p {
      font: 300 1.2rem "Open Sans", sans-serif;
    } 
  }
  }
}
